*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
/* Navbar */
#navbar{
    background: linear-gradient(to top, brown, purple);
    display: flex;
    align-items: center;
}
#navbar a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar a:hover{
    background: linear-gradient(to top, brown, purple);
}
#navbar #logo{
    margin-right: auto;
    font-weight: bold;
    font-size: 38px;
    padding-top: 13px;
    padding-bottom: 12px;
}
#navbar a{
    font-weight: bold;
}

/* Footer */
#footer{
    background: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
#footer a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    justify-content: space-between;
    padding: 12px;
}

/* Home Page */
#hero-home-1{
    background-image: url(../images/3ds-diamond.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    text-align: center;
}
.landscape-home-page{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "image-home-1 image-home-2 image-home-3"
    ;    
    padding: 10px;
}
.landscape-home-page img{
    width: 100%;
    height: 90%;
    padding: 18px;
    border-radius: 34px;
}
#image-home-1{
    grid-area: image-home-1;
}
#image-home-2{
    grid-area: image-home-2;
}
#image-home-3{
    grid-area: image-home-3;
}
#hero-home-1 h1{
    color: white;
    font-size: 48px;
}

/* Gallery Page */
body{
    margin: 0px;
}
#container{
    background-image: url(../images/uni.jpg);
    margin: 0px auto;
    padding: 12px 12px;
}
#gallery-hero-page{
    background-image: url(../images/universe.jpg);
    height: 50vh;
    background-size: cover;
    background-position: top right;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gallery-hero-page h1{
    color: white;
    font-size: 48px;
}
.body-text{
    text-align: center;
}
.body-text a{
    text-decoration: none;
}
#landscape-layout-1{
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}
.landscape-gallery-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 24px;
    padding-top: 10px;
    background-color: white;
    border: 6px solid purple;
}
.landscape-gallery-1 h3{
    align-items: top center;
}
.landscape-gallery-1 img{
    width: 100%;
}

/* About Me Page */
.container{
    margin: 0px auto;
    padding: 12px 0px;
    width: 50vw;
}
#main{
    background-image: url(../images/uni.jpg);
}
#image-container{
    text-align: center;
}
#about-hero{
    background-image: url(../images/about-me.jpg);
    height: 50vh;
    background-size: cover;
    background-position: bottom center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-hero h1{
    color: white;
    font-size: 48px;
}
#about-me{
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
/*  About Me Main Content */
#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-hero-2{
    background-image: url(../images/uni.jpg);
    height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
}
#image-container img{
    width: 100%;
    border-radius: 24px;
}
#main-content a{
    text-decoration: none;
}

/* Media Screen Section Tablet */
@media screen and (max-width: 1024px) and (min-width:520px ){
    .landscape-home-page{
        grid-template-areas: repeat(3, 1fr);
        grid-template-areas:
            "image-home-1 image-home-2 image-home-3"
        ;    
    }
    #h1{
        flex-direction: column;
        font-size: 32px;
        align-items: center;
    }
}
/* Media Screen Section Phone */
@media screen and (max-width: 519px) and (min-width:420px){
    .landscape-home-page{
        grid-template-columns: 1fr;
        grid-template-areas:
            "image-home-1"
            "image-home-2"
            "image-home-3"
        ;    
    }
    h1{
        flex-direction: column;
        font-size: 24px;
        align-items: center;
    }
}