*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Navbar */
#navbar{
    background: linear-gradient(to top, brown, purple);
    display: flex;
    align-items: center;
}
#navbar a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar a:hover{
    background: linear-gradient(to top, brown, purple);
}
#navbar #logo{
    margin-right: auto;
    font-weight: bold;
    font-size: 38px;
    padding-top: 13px;
    padding-bottom: 12px;
}
.dropdown-container{
    position: relative;
}
.dropdown{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition:
        opacity 0.25s,
        visibilty 0.25s;
}
.dropdown-container:hover .dropdown{
    opacity: 1;
    visibility: visible;
}
.dropdown-container:last-child .dropdown{
    right: 0px;
}
.dropdown a{
    background-color: darkslateblue;
    width: 100%;
    min-width: 200px;
}
#navbar .dropdown a:hover{
    background-color: darkslateblue;
}
/* Home Page */
#main-hero{
    background-image: url(../images/cute-pups.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 75vh;
    justify-content: center;
}
#main-hero h1{
    color: black;
    margin-left: 80px;
    padding-bottom: 50px;
    font-size: 58px;
}
/* Main Content */
#hero{
    background-image: url(../images/champ.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    height: 75vh;
    align-items: center;
}
#hero h1{
    color: white;
    margin-left: 80px;
    font-size: 58px;
}
#hero-2{
    background-image: url(../images/pawprint.jpg);
    background-position: left;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 55vh;
    align-items: center;
}
#hero-2 p{
    text-align: center;
    align-items: center;
    padding-left: 300px;
    font-size: 24px;
    background-color: peachpuff;
    border-radius: 24px;
    margin-left: 225px;
    padding-right: 25px;
    padding-left: 25px;
}
/* Main Content Page 2 */
#hero-pg2{
    background-image: url(../images/skylar.jpg);
    background-position: right;
    background-size: cover;
    display: flex;
    height: 75vh;
    align-items: center;
}
#hero-pg2 h1{
    color: white;
    margin-left: 80px;
    font-size: 58px;
}
#hero-pg2-2{
    background-image: url(../images/pawprint.jpg);
    background-position: top left;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 55vh;
    align-items: center;
}
#hero-pg2-2 p{
    text-align: center;
    align-items: center;
    padding-left: 300px;
    font-size: 24px;
    background-color: peachpuff;
    border-radius: 24px;
    margin-left: 225px;
    padding-right: 25px;
    padding-left: 25px;
}
/* Main Content Page 3 */
#hero-pg3{
    background-image: url(../images/lola.jpg);
    background-position: bottom left;
    background-size: cover;
    display: flex;
    height: 75vh;
    align-items: center;
}
#hero-pg3 h1{
    color: white;
    margin-left: 80px;
    font-size: 58px;
}
#hero-pg3-3{
    background-image: url(../images/pawprint.jpg);
    background-position: right;
    background-size: cover;
    display: flex;
    width: 100%;
    height: 55vh;
    align-items: center;
}
#hero-pg3-3 p{
    text-align: center;
    align-items: center;
    padding-left: 300px;
    font-size: 24px;
    background-color: peachpuff;
    border-radius: 24px;
    margin-left: 25px;
    padding-right: 25px;
    padding-left: 25px;
}