/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
*{
    box-sizing: border-box;
}
.card-style-1{
    width: 35vw;
    max-width: 300px;
    background-color: rgb(237, 245, 248);
    box-shadow: 4px 4px 10px;
    margin: 40px;
    padding: 40 12px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card-style-1 h2{
    text-align: center;
}
.card-style-1 p{
    padding: 2px;
    margin: 12px;
    font-size: 15px;
}
.card-style-1 a:hover{
    background-color: transparent;
    color: green;
}
.card-style-1 a{
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 3px solid green;
    background-color: green;
    margin: 12px 12px;
    padding: 10 10px;
    font-size: 20px;
    transition: 
        background-color .5s,
        color .5s 
    ;    
}
.card-style-1 img{
    width: 100%;
    max-width: 410px;
    object-fit: cover;
}