*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
#spacer{
    background-color: rgba(194, 175, 202, 0.839);
    width: 100vw;
    height: 50px;
}
/* Navbar */
#header{
    width: 100vw;
    border-bottom: 5px solid purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta-button{
    background-color: purple;
    border-radius: 24px;
    border-radius: 50%;
}
#header .cta-button{
    color: white;
}
#header a{
    text-decoration: none;
    color: purple;
    padding: 24px;
    align-items: center;
    font-family: a Abstract Groovy;
    font-size: 24px;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
img{
    display: flex;
    width: 150px;
    align-items: center;
}
#header #logo{
    margin-right: auto;
}
/* Layout */
#layout{
    width: 100vw;
}
#layout a{
    text-decoration: none;
    font-size: 28px;
    font-family: Aladin;
    color: white;
    background-color: purple;
    border-radius: 50%;
    padding: 24px;
}
#hero-1{
    background-image: url(../images/drink.jpg);
    background-size: cover;
    background-position: right center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 50vh;
    padding-right: 100px;
}
#hero-1 h1{
    color: white;
    font-family: a Abstract Groovy;
    font-size: 32px;
}
#hero-1 h4{
    font-family: Aladin;
    font-size: 32px;
    color: white;
}
#hero-2{
    background-image: url(../images/coffeeheart.jpg);
    background-size: cover;
    background-position: center left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 50vh;
    padding-left: 80px;
}
#hero-2 h2{
    color: white;
    font-family: a Abstract Groovy;
    font-size: 38px;
}
#hero-2 h4{
    font-family: Aladin;
    font-size: 32px;
    color: white;
}
#hero-3{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    height: 50vh;
}
#hero-3 h2{
    color: white;
    font-family: a Abstract Groovy;
    font-size: 32px;
}
/* Footer */
#footer{
    background-color: purple;
    font-family: a Abstract Groovy;
    padding: 12px;
    width: 100vw;
}
#footer-navbar{
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
#footer-navbar span{
    color: white;
}
#footer a{
    text-decoration: none;
    color: white;
}
/* Menu Page - Sidebar */
#sidebar{
    width: 250px;
    padding: 24px;
    justify-content: space-between;
    border-right: 4px solid purple;
}
#sidebar ul{
    display: flex;
    padding-top: 24px;
    flex-direction: column;
    list-style-type: none;
    gap: 150px;
    padding: 0px;
}
#sidebar a{
    font-size: 32px;
    text-decoration: none;
    font-family: a Abstract Groovy;
    color: purple;
    padding: 4px 0px;
}
/* Menu Page - Main Layout */
.food{
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 18px;
}
#layout-menu{
    width: 100vw;
    display: flex;
}
#layout-menu img{
    background-color: rgba(202, 9, 202, 0.797);
    width: 225px;
    border-radius: 50%;
    padding: 18px;
    align-items: center;
}
#menu{
    display: grid;
    flex: 2;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
}
#menu h2{
    font-family: a Abstract Groovy;
    color: purple;
}
#menu h4{
    font-family: Aladin;
    font-size: 24px;
}