/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license{
    display: block;
    border: 1px solid black;
    border-radius: 24px;
    background: linear-gradient(50deg, yellow, orange);
    padding: 15px;
}
h1{
    display: block;
    color: rgb(7, 7, 170);
    margin: 0px;

}
h4{
    background-color: rgb(4, 4, 173);
    color: white;
    display: block;
}
/* Left Side */
#left-side{
    display: inline-block;
    width: 65%;
}
#left-side img{
    width: 100%;
}
#personal-info{
    display: inline-block;
}
#small-pic{
    display: inline-block;
    width: 90px;
}
#id-and-expiration div{
    display: inline-block;
}
#id-and-expiration span{
    display: inline-block;
}
#address{
    display: block;
}
#data-fields{
    display: inline-block;
}
#data-left, #data-right{
    display:inline-block;
}
/* Right Side */
#right-side img{
    width: 100%;
}
#right-side{
    display: inline-block;
    text-align: right;
    width: 34%;
}
#donor, #real-id{
    display: inline-block;
}
#donor{
    color: red;
}
#real-id{
    color: white;
    background-color: rgb(213, 213, 22);
    border-radius: 50px;
}