/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/
#license{
    display: block;
    border: 1px solid black;
    border-radius: 24px;
    width: 550px;
    background: linear-gradient(50deg, yellow, orange);
}
h1{
    display: block;
    color: rgb(7, 7, 170);
}
h4{
    background-color: rgb(4, 4, 173);
    color: white;
    display: block;
}
/* Left Side */
#personal-info{
    display: block;
    border: 1px solid red;
}
#small-pic{
    display: block;
    border: 1px solid orange;
    margin-top: 12px;
}
#id-and-expiration{
    display: inline-block;
    border: 1px solid green;
}
#address{
    display: block;
    border: 1px solid blue;
    justify-content: space-between;
}
#data-fields{
    display: block;
}
#data-left, #data-right{
    display:inline-block;
    justify-content: space-between;
    margin-right: 48px;
}
/* Right Side */
#right-side{
    display: block;
    text-align: right;
}
#donor{
    color: red;
}
#real-id{
    color: white;
    background-color: rgb(213, 213, 22);
    border-radius: 50px;
    margin-left: 525px;
    align-items: right;
}