/* Page 1 */
*{
    box-sizing: border-box;
}
body{
    font-family: 'Gluten';
}
.spacer {
    height: 50vh;
    background-image: url(../images/rainbow-cat.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#hero-1 {
    background-image: url(../images/mouse-glasses.jpg);
    height: 100vh;
    background-size: cover;
    background-position: bottom right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#hero-1 h1 {
    font-size: 10vh;
    padding-left: 20vw
}
#hero-1 h1{
    color: white;
}
#hero-2{
    background-image: url(../images/shiba.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-end;
}
#hero-2 h2{
    color: white;
    padding: 5vh 8vw;
    font-size: 6vw;
}
#hero-2 h2 {
    font-size: 6vw;
    margin-bottom: 3vh;
}
#hero-2 h2{
    color: white;
}
#hero-2 h4, a{
    font-size: 3vw;
    padding-top: 10px;
    margin-top: 10px;
}
#hero-3{
    background-image: url(../images/icecream-panda.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
}
#hero-3 h2{
    color: white;
    padding: 5vh 8vw;
    font-size: 6vw;
}
#hero-3 h4, a{
    font-size: 3vw;
    padding-left: 10px;
    margin-left: 10px;
}
#hero-4{
    background-image: url(../images/pilot-squirrel.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center right;
    display: flex;
    justify-content: flex-end;
}
#hero-4 h2{
    color: white;
    padding: 5vh 8vw;
    font-size: 6vw;
}
#hero-4 h4, a{
    font-size: 3vw;
    padding-right: 10px;
    margin-right: 10px;
    text-decoration: none;
}
#hero-5{
    background-image: url(../images/boxer-dog.jpg);
    height: 100vh;
    background-size: cover;
    background-position: bottom left;
    display: flex;
    justify-content: flex-start;
}
#hero-5 h2{
    color: white;
    padding: 5vh 8vw;
    font-size: 6vw;
}
#hero-5 h4, a{
    font-size: 3vw;
    padding-left: 5px;
    margin-left: 5px;
}
.hero-content a{
    text-decoration: none;
}
/* Page 2*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Gluten';
}
.spacer-2 {
    height: 50vh;
    background-image: url(../images/silly-yet-sad-creature.jpg);
    background-size: cover;
    background-attachment: fixed;
}
#hero-6 {
    background-image: url(../images/man-screaming.jpg);
    height: 100vh;
    background-size: cover;
    background-position: top left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#hero-7 {
    background-image: url(../images/sillyyet-sad-baby.jpg);
    height: 100vh;
    background-size: cover;
    background-position: bottom left;
    display: column;
    justify-content: flex-start;
    align-items: center;
}
#hero-7 h2{
    color: white;
    padding-left: 5vh;
    margin-top: 12vh; 
    font-size: 4vw;
}
#hero-7 h4, a{
    font-size: 3vw;
    padding-right: 5vh 8vw;
    margin-left: 5vh;
}
#hero-8{
    background-image: url(../images/sillyface-1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center left;
    display: column;
    justify-content: flex-start;
    align-items: center;
}
#hero-8 h2{
    color: white;
    padding: 5vh 8vw;
    font-size: 6vw;
}
#hero-8 h4, a{
    font-size: 3vw;
    padding-left: 10px;
    margin-left: 10px;
}
#hero-9{
    background-image: url(../images/scared-silly-face.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center left;
    display: column;
    justify-content: flex-start;
    align-items: center;
}
#hero-9 h2{
    color: white;
    padding: 5vh 8vw;
    font-size: 6vw;
}
#hero-9 h4, a{
    font-size: 3vw;
    padding-left: 10px;
    margin-left: 10px;
}
#hero-10{
    background-image: url(../images/old-man-5.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center right;
    display: column;
    justify-content: flex-end;
    align-items: right;
}
#hero-10 h2{
    color: white;
    padding: 5vh 8vw;
    font-size: 6vw;
}
#hero-10 h4{
    color: white;
}
#hero-10 h4, a{
    font-size: 3vw;
    padding-right: 5vh;
    margin-right: 5vw;
}

