*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
    background: radial-gradient(blue, aqua);
}
#hero1-1{
    background-image: url(../images/heroimage.jpg);
    height: 50vh;
    background-size: cover;
    background-position: top right;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero1-1 h1{
    color: white;
}
#landscape-layout{
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}
.landscape-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 24px;
    background-color: white;
    border: 8px solid #667681;
}
.landscape-gallery img{
    width: 100%;
}